@font-face {
  font-family: "test";
  src: url("/Kreon-VariableFont_wght.ttf");
}

*{
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgb(29 29 59); */
    color: white;
}

body{
    background-color: rgb(29 29 59); 
    font-family: "test";
}

#header{
    height: 700px;
    background-image: linear-gradient(rgba(29, 29, 59, 0.356)),url(./images/galactic-night-sky-astronomy-science-combined-generative-ai.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;

}


#header h1{
    /* text-align: center; */
    position: absolute;
    left: 25%;
    top: 20%;
    /* padding-top: 150px; */
    text-transform: uppercase;
    font-size: 5em;
    text-shadow: 5px 2px 0px rgb(43, 43, 158);
    font-weight: bolder;
    
}

#header p{
    text-align: center;
    font-size: 1.4em;
    position: absolute;
    top: 40%;
    left: 40%;
}


.buttons{
    position: absolute;
    top: 50%;
    left: 40%;
}

.get{
    height: 70px;
    width: 220px;
    background-color: rgb(43, 43, 158);
    border: rgb(43, 43, 158) 3px solid;
    border-radius: 8px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    transition: 0.3s ease-in-out;
   
}

.get:hover{
    box-shadow: 1px 1px 5px 5px rgba(82, 82, 116, 0.555);
}

.view{
    color: rgb(43, 43, 158);
    background-color: rgba(255, 255, 255, 0);
    height: 70px;
    width: 220px;
    border: 3px solid rgb(43, 43, 158);
    margin-left: 10px;
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.view:hover{
    box-shadow: 1px 1px 5px 5px rgba(82, 82, 116, 0.555);
}

#section1{
    width: 100%;
    margin-top: -130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 160px;

}

section .child{
    background-color: rgb(82, 82, 116);
    width: 430px;
    height: 480px;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
    
}

section .child:hover{
    box-shadow: 1px 1px 10px 5px rgba(82, 82, 116, 0.5);
}

section .child .img{
    width: 350px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
}

section .child h3{
    font-size: 1.6em;
    margin: 10px 0;
}

section .child p{
    font-size: 1.4em;
    padding: 0 20px;
}

.icon{
    display: block;
    font-size: 2.8em;
    color: white;
    margin: 20px 0;
}


.one{
    border-radius: 30px ;
}

.two{
    border: 15px solid rgb(43, 43, 158);
}


.three{
    border-radius: 30px;
}


.works{
    text-align: center;
    margin: 150px;
    position: relative;

}

.works div{
    height: 400px;
    width: 700px;
    margin-top: 50px;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
}

.works h2{
    font-size: 4.2em;
    display: block;
}

.works .img1{
    background-image: url(./images/cosmic-landscape-space-background.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: background-size 0.4s ease;
}   


.works .img1:hover{
    background-size: 130%;
}


.works .img2{
    background-image: url(./images/astral-concept-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 20px;
    
}

.works .img2:hover{
    background-size: 130%;
}

.overlay{
  position: absolute;
  top: -50px;
  background: rgba(82, 82, 116, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* hover */
div.img1:hover .overlay{
  opacity: 1;
}

div.img2:hover .overlay{
  opacity: 1;
}

.meet{
    text-align: center;
    margin: 550px 100px 100px;
    position: relative;

}

.meet h2{
    font-size: 4.2em;
    display: block;
    /* text-transform: uppercase; */
}

.meet p{
    margin: 50px 0;
    font-size: 1.4em;
    color: rgba(155, 155, 199, 0.842);
}

.team{
    width: 100%;
    display: flex;
    justify-content: center;
}

.team .person{
    transition: all 0.5s ease;
}


.team .person .img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 8px;                 
    background: rgb(43, 43, 158);
    display: flex;                 
    justify-content: center;
    align-items: center;
}

.team .person .p2{
    background: linear-gradient(45deg, rgb(255, 0, 119), blue) !important;
    margin: 0 80px ;
}

.team .person .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;           
    object-fit: cover;
    background: #fff;
}

.team .person h3{
    font-size: 1.5em;
    margin: 30px 0 10px;
}


.team .person:hover{
    /* position: absolute; */
    margin-top: -30px;

}


footer{
    height: 500px;
    background-color: rgb(12, 12, 49);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .border{
    width: 60%;
    height: 300px;
    /* text-align: center; */
    background: linear-gradient(45deg, rgb(255, 0, 119), rgb(204, 0, 255),rgb(0, 153, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 95%;
    height: 85%;
    background-color: rgb(29 29 59);
    padding-left: 25%;
    padding-right: 25%;
}

.content h2{
    font-size: 2.6em;
    margin-top: 50px;
    text-align: center;
}

.content p{
    font-size: 1.2em;
    text-align: center;

}

.content form{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.content button{
    background-color: rgb(82, 82, 116);
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: all ease-in 0.7s;
    
}

.content button:hover{
    /* border: 4px rgb(186, 186, 211) solid; */
    box-shadow: 1px 1px 8px 8px rgba(155, 155, 189, 0.61);
}

.content input[type="email"]{
    font-size: 1.2em;
    padding-left: 10px;
    width: 350px;
    border-radius: 5px;
    height: 60px;
}